* {
    box-sizing: border-box;
  }
  
  body {
    background: linear-gradient(to right, #0000ff, #add8e6);
    height: 100vh;
    margin: 0;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form-container {
    background-color: #ffffff;
    max-width: 500px;
    min-width: 200px;
    border-radius: 10px;
    padding: 1rem;
    width: 60vw;
    text-align: center;
  }
  
  label {
    color: #000000;
    margin: 0 0.5rem 0 0;
    font-size: 1rem;
  }
  
  input,
  textarea {
    width: 100%;
    margin: 0 0 0.5rem 0;
    padding: 16px;
    font-size: 1rem;
  }
  
  button {
    background-color: #50c878;
    padding: 0.5em 1.5em;
    border-radius: 10px;
    font-size: 1rem;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #00cc00;
  }
  